@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
body{
    background-color: #82DDB5;
font-family: 'Quicksand', sans-serif;
margin: 0;
    
}
#nav{
  background-color: 
      #67bb99;
    text-align: center;
    color: #ffffff;
    padding: 15px;
    border-bottom: 2px
        dashed #000;
    font-weight: 700;
    word-spacing: 20px;
    padding-bottom: 20px;
}

#header{
    padding: 20px;
    text-align: center;
    background-image: url('img/illustration.gif'), url('img/texture.jpg');
background-position: center 280px, left top;
background-repeat: no-repeat, repeat-x;
background-size: 800px, auto;
    padding-bottom: 400px;
    
       
    
}

 #description, #date{
width: 300px;
     max-width: 220px;
    
}

.register_btn {
    background-color: #E43;
border: 2px dashed #A43;
border-radius: 2em;
color: #FFF;
cursor: pointer;
display: inline-block;
font-weight: bold;
margin-top: 25px;
padding: 15px 30px;
}

#logo{
    max-width: 360px;
  width: 500px;  
}


#what{
    background-color:
        #c7eedd;
padding: 50px;
    padding-bottom: 80px;
    text-align: center;
    
    
        
    color:
        #387a8a;

    
}



#sponsor_logos{

    
}

#sponsor_logos img{
max-width: 360px;
    width: 500px;
}

#why{
    background-color: 
        #b6ead3;
    padding: 50px;
    padding-bottom: 100px;
    text-align: center;
    font-size: large;
    color: 
        #387a8a;
   
    }
        


#where{
    background-image: url(img/map.gif);
        padding: 80px;
    
    text-align: center;
        color: #bb4488;
    padding-bottom: 400px;
}

  
#when{
    background-color: 
        #439998;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 100px;
    
}

#who{
background-color: 
    #f5f5f5;
    padding-top: 10px;
    padding-bottom: 200px;
    text-align: left;
    text-align: center;
    color: #347788;
        
}

#footer{
    max-width: 50px;
    
}